[system]
port=/dev/ttyAMA0
baud=38400

[influxdb]
enabled = True
token = 
url = 
org = 
bucket = powermon
device = rpict3v1

[smtp]
sender = sender@example.net
recipient = receiver@example.net
server = localhost
port = 25